body {
  padding-bottom: 20px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', sans-serif;
}

div.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  background-position: center;
}

img.overlay {
  opacity: 1.0;
  width: 60%;
  position: center;
}


img.overlay:hover {
  opacity: 1.0;
  background-color: rgba(255, 255, 255, 1.0);
}


.active img.overlay {
  opacity: 1.0;
  background-color: rgba(255, 255, 255, 1.0);
}

a {
  color: black;
  text-decoration: underline;
}

.jumbotron {
  background-position: 50% 0%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);
  color: white;
  height: 30em;
  text-align: center;
  padding-top: 10em;
/*   text-shadow: rgba(2, 2, 2, .4) 1px 1px 4px; */
}

#header1 {
  font-size: 19pt;
}

.content {
  font-size: 14pt;
  margin-left: 10%;
  margin-right: 10%;
}

.hover-nav {
  margin-bottom: 2em;
}

.slogan {
  color: darkgrey;
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0.5em;
}


@media screen {
  .jumbotron {
    background-size: auto 30em;
  }
}

@media screen and (min-width: 78em) {
  .jumbotron {
    background-size: auto 37em;
  }
}

@media screen and (min-width: 2000px) {
  .jumbotron {
    background-size: 100% auto;
  }
}

